<div class="row">
    <section class="col-lg-7 connectedSortable ui-sortable">
        <div class="left-container" style="margin-left: 27px;">
            <!-- COLUNA 1 -->
            <div class="row">
                <!--<app-graphs></app-graphs>-->
            </div>

            <!--<div class="row">
                <app-recent-eventos></app-recent-eventos>
            </div>-->

            <div class="row">
                <app-chartjs></app-chartjs>
            </div>
        </div>

    </section>
    <section class="col-lg-5 connectedSortable ui-sortable">
        <!-- COLUNA 2 -->

        <app-timeline></app-timeline>

    </section>
</div>


<!-- Cude Graph -->


<!-- Line Graph -->
<!-- TODO -->

<!-- Pie Graph -->
<!-- TODO -->
